@{
    ViewData["Title"] = "Decode";
}


<div class="text-center">
    <form method="post" action="Decode">

        Decode
        <input type="text" name="str" />
        @ViewBag.Decode
        <br />
        <br />
        <button type="Submit" class="btn btn-primary">Submit</button>
    </form>

</div>