@{
    ViewData["Title"] = "Encode";
}

<div class="text-center">
    <form method="post" action="Encode">

        Encode
        <input type="text" name="str" />
       @ViewBag.Encode 
        <br />
        <br />
        <button type="Submit" class="btn btn-primary">Submit</button>
    </form>

 </div>