@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Developed By Amodh: Testing for Azure app</h1>
    <a href="/Home/Encode">
     <button class="btn btn-secondary"  >Encode</button>
    </a>
    <a href="/Home/Decode"> 
     <button class="btn btn-secondary" >Decode</button>
    </a>
</div>
